.landing {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #fdfcfc;
}

header {
    position: relative;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 20px;
    padding-bottom: 10px;
    background: linear-gradient(rgba(255, 255, 255, 0) 40%, rgb(232, 214, 254) 100%);
}

header h1 {
    color: #242424;
    font-size: 2rem;
}

header > img {
    position: relative;
    width: clamp(250px, 60vw, 350px);
    animation-name: model-move;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    z-index: 1;
}

header svg {
    position: absolute;
    height: 100%;
    right: 0;
    bottom: 0;
    filter: opacity(0.8);
}

@keyframes model-move {
    0% {top: 0;}
    25% {top: 10px;}
    50% {top: -15px;}
    75% {top: 0px;}
}

.content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    z-index: 1;
}

.content p {
    color: #343434;
    margin-top: 10px;
}

.content a {
    margin-top: 15px;
    width: clamp(190px, 25vw, 200px);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.5s;
    background-color: #bb2aff;
}

.content a:hover {
    background-color: #a948f8;
    transition: all 0.5s;
}

.sub-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fill-color {
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
    background-color: #a906f5;
}

.card-list {
    margin-top: -70px;
    width: 90%;
    padding: 25px 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid rgb(214, 214, 214);
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: -1px -1px 1px 0px #00000030, 2px 2px 2px 0px #00000020;
}

.card-container {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container p {
    font-size: 0.9rem;
}

.card-list img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.auth-mobile a{
    color: rgb(21, 25, 253);
    text-decoration: underline;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed) {
    color: var(--text-primary);
    /* background-color: transparent; */
}

@media only screen and (max-width:1268px) {
    .card-container {
        width: 100%;
        gap: 10px;
    }

    .card-container p {
        width: 250px;
    }
}

@media only screen and (max-width:1200px) {
    .content {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    header {
        margin-top: 100px;
    }

    .card-container {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .card-container p {
        font-size: 0.8rem;
    }

    header img {
        margin-top: 35px;
    }

    h1 {
        font-size: 1.8rem ;
    }

    .content p {
        font-size: 0.9rem;
    }

    .content a {
        font-size: clamp(12px, 90%, 14px);
    }

    .card-list img {
        width: 90px;
        height: 90px;
    }
}